<div class="row">
  <div class="col m-8 auto">
    <form [formGroup]="formGroupEstudante">
      <div class="mb-3">
        <div class="display-6 text-center">
          Cadastro de Estudante
        </div>
      </div>
      <div class="mb-3">
        <label for="id" class="form-label">RM:</label>
        <input type="number" formControlName="id" class="form-control" id="id" placeholder="Digite seu RA">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="string" formControlName="name" class="form-control" id="name" placeholder="Digite seu nome">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label"></label>
        <input type="string" formControlName="email" class="form-control" id="email" placeholder="Digite seu email">
      </div>
      <div class="mb-3">
        <label for="telephone" class="form-label"></label>
        <input type="number" formControlName="telephone" class="form-control" id="telephone" placeholder="Digite número de celular">
      </div>
      <div class="mb-3 display-flex justify-content-end gap 2">
        <button class="btn btn-danger" (click)="clear()">Limpar</button>
        <button class="btn btn-success" (click)="save()">Cadastrar</button>



      </div>
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">RM</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">CPF</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudante of estudante">
      <th scope="row">{{estudante.id}}</th>
      <td>{{estudante.name}}</td>
      <td>{{estudante.email}}</td>
      <td>{{estudante.telephone}}</td>
      <td>
        <button class="btn btn-primary me-2" (click)="edit(estudante)">Editar</button>
        <button class="btn btn-danger" (click)="delete(estudante)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
